<ActionBar title="Home" class="action-bar">
</ActionBar>

<GridLayout>
    <ScrollView class="page">
        <StackLayout class="home-panel">
            <!--Add your page content here-->
            <Label textWrap="true" text="Play with NativeScript!" class="h2 description-label"></Label>
            <Label textWrap="true" text="Write code in the editor or drag and drop components  build a NativeScript mobile application."
                class="h5 description-label"></Label>
            <Label textWrap="true" text="Scan the QR code with your mobile device and watch the changes sync live while you play with the code."
                class="h2 description-label"></Label>
            <div *ngFor="let perg of perguntas, let i = index">
                <Label textWrap="true" text={{perguntas[i]}} class="h4 description-label"></Label>
                <TextField [(ngModel)]="textFieldValue[i]" hint="Enter text...">a</TextField>
            </div>
            <Button text="2º campo console" (tap)="logger(textFieldValue[1])"></Button>
            <HtmlView [html]="htmlString"></HtmlView>
        </StackLayout>
    </ScrollView>
</GridLayout>